body{
    background-color: #f7f7f7;

}

section{
    width: 65%;
    background-color: #ffff;
    margin: auto;
    text-align: center;
    height: 500px;
    padding: 4rem;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
.frm-grp{
   
    margin: auto;
}
.form-part{
    margin: 15px;
}

.form-part label{
font-size: 1.2rem;

}